/*   Global
------------------------------------*/
:root {
    --orange-peel: #f39d2c;
    --slate-grey: #6C757D;
    --cultured: #E9ECEF;
    --cultured-rgb: 233, 236, 239;
    --gunmetal: #212529;
    --gunmetal-rgb: 33, 37, 41;
    --french-violete: #7B2CBF;
    --dark-orchid: #9D4EDD;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: franklin-gothic, sans-serif;
    overflow: overlay;
}

h1 {
    color: var(--dark-orchid);
    font-family: monospace, sans-serif;
    font-size: 70px;
}

h2 {
    font-size: 50px;
    margin-bottom: 3%;
}

h3 {
    font-size: 35px;
}

h2, h3 {
    color: var(--french-violete);
    font-family: monospace, sans-serif;
}

p {
    font-size: 25px;
}

header,
section{
    height: 100vh;
    max-width: 99vw;
    width: 99vw;
}

section {
    padding: 5% 0;
}

#greeting-container {
    animation: fadeIn 2.5s infinite alternate;
}

@keyframes fadeIn {
    from { opacity: 0; }
}

/*   Header & Footer
------------------------------------*/
header h1{
    margin-bottom: 2%;
    margin-top: 7%;
}

header .left-panel {
    float: left;
    padding-top: 4.5%;
    width: 15%;
}

header .right-panel {
    float: right;
    padding-left: 3%;
    width: 85%;
}

header, footer {
    background: linear-gradient(rgba(var(--gunmetal-rgb), 0.8), rgba(var(--gunmetal-rgb), 0.1)),
                url(assets/background/city-8bits.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 40vh;
    padding: 1%;
}

header .wrapper-container {
    margin: 5% 22%;
    overflow: hidden;
}

footer {
    text-align: center;
}

footer h2 {
    color: var(--dark-orchid);
    margin-top: 0;
}

footer img {
    height: 32px;
    width: 32px;
}

footer a {
    font-size: 20px;
    margin: 10px;
}

header img {
    height: auto;
    border-radius: 100%;
    max-width: 156px;
    min-height: 156px;
    width: auto;
}

header p {
    color: white;
    font-size: 30px;
    margin: 0;
}

header p:first-child{
    margin-bottom: 1%;
}

/*  Navigation
------------------------------------*/
nav {
    background: var(--gunmetal);
    font-family: monospace, sans-serif;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

nav li a{
    text-decoration: none;
    color: var(--dark-orchid);
    margin-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
    font-size: 25px;
}

nav li a::after{
    content: '';
    position: absolute;
    display: block;
    height: 0.2em;
    width: 0%;
    background-color: var(--orange-peel);
    bottom: -1rem;
    transition: all ease-in-out 250ms;
}

nav li a:hover::after {
    width: 100%;
}

nav li a:hover {
    color: var(--dark-orchid);
}

/*  Main
------------------------------------*/
main {
    background: var(--cultured);
}

/*  About me
------------------------------------*/
#about-me p{
    margin-bottom: 3%;
}

#about-me section {
    overflow: hidden;
}

#map{
    border-radius: 70%;
    float: right;
    height: 100%;
    right: 3%; 
    top: 5%;
    width: 40%;
}

#about-me .wrapper-container{
    float: left;
    margin-left: 3%;
    margin-top: 10%;
    max-width: 50%;
}


/*  Education
------------------------------------*/
/* #education {
    
} */

#education .wrapper-container{
    margin-left: 7%;
    margin-top: 3%;
    overflow: hidden;
}

#education .left-panel {
    float: left;
    width: 50%;
}

#education .right-panel {
    float: right;
    width: 50%;
}

#education h3:not(:first-child) {
    margin-top: 5%;
}

#education li {
    margin-left: 8%;
    padding-top: 2%;
}

#education li {
    font-size: 25px;
}

#education ul p {
    color: var(--slate-grey);
    margin-left: 8%;
    margin-top: 2px;
}

#education li {
    margin-top: 1%;
}

/*  Projects
------------------------------------*/
#my-projects{
    height: auto;
}

#my-projects .wrapper-container{
    margin: 3% 10%;
}

#my-projects .project:nth-child(odd) .tech-stack,
#my-projects .project:nth-child(even) .project-description {
    float: left;
}

#my-projects .project:nth-child(even) .tech-stack,
#my-projects .project:nth-child(odd) .project-description {
    float: right;
}

#my-projects .tech-stack {
    padding: 5%;
    text-align: center;
    width: 50%;
}

#my-projects .project-description {
    height: 100%;
    padding-top: 3%;
    width: 50%;
}

#my-projects img {
    display: inline-block;
    height: auto;
    margin: 0 4%;
    max-width: 15%;
    min-height: 15%;
    width: auto;
}

#my-projects img[alt="Docker"] {
    max-width: 20%;
}

#my-projects .project {
    overflow: auto;
    position: relative;
    width: 100%;
}

#my-projects p {
    margin-top: 2%;
}

/*  Feedback
------------------------------------*/
#feedback .wrapper-container{
    margin-left: 10%;
    margin-top: 3%;
}

#feedback textarea {
    height: 10vh;
    resize: vertical;
    width: 100%;
}

#feedback label {
    display: inline-block;
    font-size: 25px;
    margin-right: 5%;
}

#feedback form {
    margin: 0 20%;
}

#feedback p {
    margin-bottom: 4%;
}

#feedback fieldset {
    border-color: white;
    margin-bottom: 3%;
    padding: 3%;
}

form + fieldset {
    padding-left: 5%;
}

#feedback legend {
    font-size: 25px;
    padding: 3px 6px;
}

#feedback input[type="submit"] {
    padding: 0.5% 3%;
    font-size: 25px;
}
