/*   Global
------------------------------------*/
:root{
    --celadon-blue: #457B9D;
    --honeydew: #F1FAEE;
    --imperial-red: #E63946;
    --prussian-blue: #1D3557;
    --powder-blue: #A8DADC;
}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background: url("assets/img/background.png");
    color: white;
    font-family: Ubuntu;
    margin: 0;
}

.wrapper-container{
    max-width: 1150px;
    margin: 0 auto;
    overflow: auto;
    padding: 2%;
}

h1{
    font-size: 60px;
    margin-bottom: 2%;
    margin-top: 7%;
}

h2{
    font-size: 40px;
    margin-bottom: 3%;
    margin-top: 3%;
}

h3{
    font-size: 25px;
    margin-bottom: 1%;
    margin-top: 0;
}

p{
    font-size: 20px;
}

.project{
    overflow: auto;
    position: relative;
    width: 100%;
}

.project-description{
    float: left;
    height: 100%;
    padding-top: 3%;
    position: absolute;
    width: 50%;
}

.projmainect-description p{
    margin: 0;
}

.tech-stack{
    float: right;
    padding: 5%;
    text-align: center;
    width: 50%;
}

.tech-stack img{
    display: inline-block;
    height: auto;
    margin: 0 4%;
    max-width: 70px;
    min-height: 70px;
    width: auto;
}

/*   Header & Footer
------------------------------------*/
.left-panel{
    float: left;
    width: 20%;
}

.right-panel{
    float: right;
    width: 80%;
}

header .wrapper-container, footer .wrapper-container {
    background: var(--prussian-blue);
}

footer{
    text-align: center;
}

footer h2{
    margin-top: 0;
}

footer img{
    height: 32px;
    width: 32px;
}

footer a{
    color: white;
    font-size: 20px;
    margin: 10px;
}

header img{
    border-radius: 100px;
    height: auto;
    max-width: 200px;
    min-height: 200px;
    width: auto;
}

@keyframes fadeIn {
    from { opacity: 0; }
}

#greeting-container {
    animation: fadeIn 2.5s infinite alternate;
}

header p{
    font-size: 30px;
    margin: 0;
}

/*  Main
------------------------------------*/
main .wrapper-container{
    background: var(--celadon-blue);
}
