/*   Global
------------------------------------*/
:root {
    --celadon-blue: #457B9D;
    --cultured: #E9ECEF;
    --imperial-red: #E63946;
    --gunmetal: #212529;
    --french-violete: #7B2CBF;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: Ubuntu;
    margin: 0;
}

.wrapper-container {
    max-width: 1150px;
    margin: 0 auto;
    overflow: auto;
    padding: 2%;
}

h1 {
    font-size: 60px;
    margin-bottom: 2%;
    margin-top: 7%;
}

h2 {
    font-size: 40px;
    margin-bottom: 3%;
    margin-top: 3%;
}

h3 {
    font-size: 25px;
    margin-bottom: 1%;
    margin-top: 0;
}

h1, h2, h3{
    color: var(--french-violete);
}

p {
    font-size: 20px;
}

section h2:first-child{
    margin-top: 0;
}

section{
    margin-bottom: 3%;
}

#date-container {
    font-size: 20px;
}

#greeting-container {
    animation: fadeIn 2.5s infinite alternate;
}

@keyframes fadeIn {
    from { opacity: 0; }
}

/*   Header & Footer
------------------------------------*/
header .left-panel {
    float: left;
    width: 20%;
}

header .right-panel {
    float: right;
    width: 80%;
}

header, footer {
    background: var(--gunmetal);
}

footer {
    text-align: center;
}

footer h2 {
    margin-top: 0;
}

footer img {
    height: 32px;
    width: 32px;
}

footer a {
    color: white;
    font-size: 20px;
    margin: 10px;
}

header img {
    border-radius: 100px;
    height: auto;
    max-width: 200px;
    min-height: 200px;
    width: auto;
}

header p {
    font-size: 30px;
    margin: 0;
    color: white;
}

/*  Main
------------------------------------*/
main {
    background: var(--cultured);
}

/*  Education
------------------------------------*/

/*  About me
------------------------------------*/
#about-me p:not(:last-child){
    margin-bottom: 2%;
}

/*  Projects
------------------------------------*/
#my-projects .tech-stack {
    float: right;
    padding: 5%;
    text-align: center;
    width: 50%;
}

#my-projects img {
    display: inline-block;
    height: auto;
    margin: 0 4%;
    max-width: 15%;
    min-height: 15%;
    width: auto;
}

#my-projects .project {
    overflow: auto;
    position: relative;
    width: 100%;
}

#my-projects .project-description {
    float: left;
    height: 100%;
    padding-top: 3%;
    position: absolute;
    width: 50%;
}

#my-projects p {
    margin: 0;
}

/*  Feedback
------------------------------------*/
#feedback textarea {
    height: 10vh;
    resize: vertical;
    width: 100%;
}

#feedback label {
    display: inline-block;
    font-size: 17px;
    margin-right: 5%;
}

#feedback form {
    margin: 0 20%;
}

#feedback fieldset {
    border-color: white;
    margin-bottom: 3%;
    padding: 3%;
}

form + fieldset {
    padding-left: 5%;
}

#feedback legend {
    font-size: 17px;
    padding: 3px 6px;
}
